
.footer{
    background-color: hsl(207, 10%, 13%);
    color: white;
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index:2;

    h3{
        padding-top: 0.5rem;
        font-weight: 700;
        @media (max-width:23.75rem) {
            font-size: 0.8rem;
            transition: all ease 0.3s;
     
        }
    }


    span{
        padding-top: 0.3rem;
        @media (max-width:23.75rem) {
            font-size: 0.7rem;
            transition: all ease 0.3s;
     
        }
    }
  
}


// .FooterTest{
//     width: 100%;
//     height: 10vh;
//     background-color: green;
   
// }